<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.brewton.creighton"
        versionCode="10" 
        version   = "0.0.1">

    <!-- versionCode is optional and Android only -->

    <name>Creighton Daily Devotionals</name>

    <description>
        Daily devotional readings from Creighton University
    </description>

    <author href="https://build.phonegap.com" email="brian.hann@gmail.com">
        Brian Hann
    </author>

    <!-- <feature name="http://api.phonegap.com/1.0/geolocation" /> -->

    <!-- <access origin="http://google.com" subdomains="true" />
    <access origin="http://gstatic.com" subdomains="true" />
    <access origin="http://googleapis.com" subdomains="true" />

    <access origin="http://inmobi.com" subdomains="true" />
    <access origin="http://phonegap.com" subdomains="true" /> -->

    <access origin="*" />
</widget>